<launch>
    <!-- 启动乌龟GUI节点 -->
    <node pkg="turtlesim" type="turtlesim_node" name="turtle1" output="screen"/>
    <!-- 键盘控制节点 -->
    <!-- 
        也可以不加这一行，启动后新建终端，运行
        rosrun turtlesim turtle_teleop_key
        来启动键盘
    -->
    <!-- 启动 turtle_move_server 节点 -->
    <node pkg="turtle_package" type="turtle_move_server" name="turtle_move_server" output="screen"/>
   
    <node pkg="turtle_package" type="turtle_Group4" name="Group4" output="screen"/>
    <node pkg="turtle_package" type="draw_helix" name="helix" args="1" output="screen"/>
    <node pkg="turtle_package" type="turtle_chase" name="turtle_chase" output="screen"/>
    <node pkg="turtle_package" type="change_color" name="change_color" output="screen"/>
    <node pkg="turtle_package" type="data_scope_pub" name="data_scope_pub" output="screen"/>
    <!-- 启动 rqt_plot 节点 -->
    <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot" output="screen" args="/turtle_distance /turtle_2_orientation"/>
    

</launch>
